[Unit]
Description=Run TrailCam Sync Daily

[Timer]
OnCalendar=*-*-* 11:00:00
Persistent=true
RandomizedDelaySec=5m
Unit=trailcam-sync.service

[Install]
WantedBy=timers.target
